.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background-color: #1f5763;
  padding: 1rem;
}
.container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.containerFav {
  display: flex;
  gap: 1.5rem;
  overflow: auto;
}

.containerFav::-webkit-scrollbar {
  width: auto;
  height: 30px;
}

.containerFav::-webkit-scrollbar-track {
  background: #89c912;
}

.containerFav::-webkit-scrollbar-thumb {
  background-color: #339c0a;
  opacity: 70%;
  border-radius: 20px;
  border: 3px solid #fa6400;
}
img {
  width: auto;
  height: 17rem;
  object-fit: contain;
  border-radius: 12px;
}
.no-meal,
.loading {
  color: #ffffff;
  width: 100% !important;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 2;
}

.separation {
  margin: 5rem 0;
  border: 2px solid #f0f0f0;
}

.favourites {
  color: #fa6400;
  margin: 3rem auto;
}

.search-favourites input {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 1026px) {
  .loading,
  .no-meal {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .loading,
  .no-meal {
    font-size: 1rem;
  }
  .containerFav::-webkit-scrollbar {
    height: 20px;
  }
  img {
    width: auto;
    height: 15rem;
    object-fit: contain;
    border-radius: 12px;
  }
  #item {
    min-height: 20rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    width: 15rem;
  }
}
@media (max-width: 544px) {
  .loading,
  .no-meal {
    font-size: 0.75rem;
  }
  #search,
  .search-favourites input {
    width: 7rem;
  }
  .themeButton {
    padding: 0.75rem 1rem;
  }
}
