.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background-color: #1f5763;
  padding: 1rem;
}
.container {
  /* display: grid;
  grid-template-columns: minmax(auto-fill, 250px, 1fr); */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.container img {
  width: auto;
  height: 20rem;
  object-fit: contain;
}
.container p {
  color: #ececec;
  width: 10rem;
}
